/* artists section -------------------------------------- */

.artists {
	margin-bottom: rem(-49);
}

.artist-desc {
	padding-top: rem(100);

	&__h3 {
		@extend .glob__h2;
		color: $dark-text;
	}

	&__text {
		@extend .glob__text;
	}

	&__social {
		padding-left: 0;
		&_item {
			display: inline-block;
			padding-right: rem(25);
			&:last-child {
				padding-right: 0;
			}
			&-link {
				color: $grey-text;
				font-size: rem(21);
			}
		}
	}
}
.artist-image {
	width: 100%; max-height: rem(555); overflow: hidden;

}

.artist-slider {
	&__list {
		&_item {

			background-color: $header-bg;
			cursor: pointer;
			max-height: rem(230);
			overflow: hidden;

			transition: all ease-out .2s;

			&-image {
				opacity: 1;
				transition: opacity ease-out .2s;
			}

			.item-desc {
				display: none;
				transition: display ease-in .4s;
			}

			&-name {
				position: absolute; top: rem(50); left: 0; right: 0;
				font-family: $logo-font; font-size: rem(26); color: #dfdfdf; line-height: 1.54;
				text-align: center;
			}
			&-spec {
				@extend .artist-slider__list_item-name;
				top: rem(90);
			}

			&:hover {
				
				box-shadow: 0px -10px 20px 9px rgba(25, 25, 25, 1);

				.artist-slider__list_item-image {
					opacity: .3;
				}
				.item-desc {
					display: block;
				}
			}
		}
	}
}

.owl-carousel {
	position: relative;	
	
	.owl-navigation {
		font-family: $fa-font; font-size: rem(48); line-height: 0.46;
		display: inline-block; color: $white-text;
		
		.owl-prev,
		.owl-next {
			cursor: pointer;
			position: absolute;	top: rem(75);
			transition: all ease-out .2s;
			&:hover {
				text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
			}
		}
		.owl-next {
			right: rem(5);
			&:before {
				content: "\f138";
			}
		}
		.owl-prev {
			left: rem(5);
			&:before {
				content: "\f137";
			}
		}
	}
}