/* header carousel ----------------------------------------- */

.header-carousel {
	transform: skewY(-$skew-deg);
	overflow: hidden;
	position: relative;
	z-index: 1000;
	margin: rem(-50) auto rem(20) auto;

	.rotate-back {
		transform: skewY($skew-deg);
	}
}

.carousel {
	margin: rem(-50) 0;

	&-indicators {
		z-index: 10000;
		bottom: rem(80);

		li {
			width: rem(22); height: rem(22);
			border: 2px solid $white-text;
			background-color: rgba(25,25,25, .5);
		}
		.active {
			width: rem(22); height: rem(22);
			margin: 1px;
			background-color: $header-bg;
		}
	}

}