/* gallery --------------------------------------------- */

.gallery {
	padding: rem(150) 0;

	&__h2 {
		@extend .glob__h2;
		color: $dark-text;
		margin-bottom: rem(30);
	}

	&__text {
		@extend .glob__text;
		margin-bottom: rem(60);
	}

	&__list {
		margin: 0 rem(-15);
		&_item {
			width: 100%; height: rem(338);
			overflow: hidden;
			margin-bottom: rem(50);
			background-color: $header-bg;
			position: relative;
			cursor: pointer;

			&-image {
				opacity: 1;
				width: 100%; height: auto;
				transition: opacity ease-out .2s;
			}

			&-zoom {
				position: absolute; left: 50%; top: rem(120); margin-left: rem(-18); 
				font-size: rem(36); color: #dfdfdf;
				display: none;
			}

			&:hover {
				.gallery__list_item-zoom {
					display: block;
				}
				.gallery__list_item-image {
					opacity: .3;
				}

			}
		}
	}
}