/* intro section -------------------------------------*/

.intro {
	padding: rem(160) 0;
	position: relative;
	z-index: 100;

	&:before {
		content: '';
		position: absolute; left: 0; right: 0; bottom: 0; top: 0;
		background-color: $header-bg;
		transform: skewY($skew-deg);
	}
}

.intro__desc {
	@extend .clearfix;
	&_h3 {
		@extend .glob__h2; 
	}

	&_text {
		@extend .glob__text;
		&-link {
			
		}
	}
	&_image {
		float: left;
		margin-right: rem(10);
	}
	&_addr {
		@extend .intro__desc_text;
		display: inline-block;
		position: relative;
		padding-left: rem(15);
		
		&:before {
			font-family: $fa-font; position: absolute; left: 0; bottom: 0;
			margin-right: rem(0);
		}
	}
	&_opentime {
		@extend .intro__desc_addr;
	}

}