@import 'common/box-sizing';
@import 'common/clearfix';
@import 'common/mixins';
@import 'common/functions';

/* local fonts */
@include font-face('latothin','latothin');
@include font-face('latoregular','latoregular');
@include font-face('latosemibold','latosemibold');
@include font-face('greatvibes','greatvibes');
@include font-face('fontawesome', 'fontawesome');

/* variables */

$logo-font: 'greatvibes', sans-serif;
$thin-font: 'latothin', sans-serif;
$regular-font: 'latoregular', sans-serif;
$semibold-font: 'latosemibold', sans-serif;
$fa-font: 'fontawesome', sans-serif;

$dark-bg: url('../img/main-bg-2.jpg') left top repeat;
$header-bg: #191919;
$black-bg: rgba(25,25,25, .97); 
$white-bg: #ffffff;
$grey-bg: #888888;
$blog-item-bg: rgba(25,25,25, .9);

$white-text: #ffffff;
$dark-text: #191919;
$grey-text: #888888;
$blog-text: #dfdfdf;

$skew-deg: 3deg;

$footer-height: rem(285);


/* global styles */
html {
	min-height: 100%; font-size: 14px;
	position: relative;
	max-width: 1920px;
	margin: auto;
	min-width: 320px;

	@include respond-to(md) {
		font-size: 13px;
	}

	@include respond-to(sm) {
		font-size: 12px;
	}

	@include respond-to(xs) {
		font-size: 11px;
	}

	@include respond-to(mob) {
		font-size: 10px;
	}
}

body {
	margin: 0; min-height: 100%;
	padding-bottom: $footer-height;

}

.np {
	padding: 0;
}

.app {
	
}

a{
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $white-text;
	}
	&:focus {
		text-decoration: none;
		color: $white-text;
	}
}

// global settings
.footer-wrapper {
	background: $header-bg;
}

.glob__h2 {
	@include font-type($white-text, $thin-font, rem(48), 1.125, 0);
	text-transform: uppercase;
	&:first-line {
		font-family: $semibold-font;
	}
}

.glob__text {
	@include font-type($grey-text, $thin-font, rem(15), 1.47, 0);
}

// import sections

@import 'common/sections/header';
@import 'common/sections/nav';
@import 'common/sections/carousel';
@import 'common/sections/intro';
@import 'common/sections/artists';
@import 'common/sections/testimonials';
@import 'common/sections/gallery';
@import 'common/sections/blog';
@import 'common/sections/contact';
@import 'common/sections/footer';



