-
	var navigation = {
		"home": "#",
		"about us": "#",
		"artists": "#",
		"testimonials": "#",
		"gallery": "#",
		"blog": "#",
		"contact us": "#"
	}

	var socials ={
		"facebook-square": "#",
		"twitter-square": "#",
		"linkedin-square": "#",
		"instagram": "#"
	}

	var artists = {
		"Mark Ipsum": "Asistant Manager",
		"Steve Ipsum": "Asistant Manager",
		"Lora Palmer": "Best Specialist",
		"Marilyn Manson": "Asistant Manager",
		"Nick Ipsum": "Asistant Manager"
	}