// artists section

section.artists

	.container
		.row
			.col-md-6
				.artist-desc
					h3.artist-desc__h3 Artists<br><span class='artist-desc__name'> Stevie Ipsum</span>
					p.artist-desc__text.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum proin ligula tempor eras sodales parturient; laoreet curae ridiculus consequat lectus mollis lacinia montes. Aenean commodo nostra elit imperdiet convallis pulvinar: parturient taciti dui posuere consectun. Class dignissim sed conubia ornare curae magna ipsum cum nullam ultrices curabitur eras.<br> Litora quis Velit tincidunt metus elit purus - lacus fermentum ipsum taciti.

					ul.artist-desc__social
						-
						each href, item in socials
							li.artist-desc__social_item
								a.artist-desc__social_item-link.fa(class="fa-"+item, href=""+href)

			.col-md-6
				.artist-image
					img.artist-image__item(src='./assets/img/Mark Ipsum.jpg')

			.col-md-12
				.artist-slider
					.artist-slider__list.owl-carousel
						-
						each spec, name in artists
							.artist-slider__list_item.item
								img.artist-slider__list_item-image(src="./assets/img/"+name+".min.jpg" alt=""+name+" min")
								.item-desc
									span.artist-slider__list_item-name= name
									span.artist-slider__list_item-spec= spec

