// blog section

section.blog
	.dark-wrapper

		.container.rotate-back

			h2.blog__h2 Blog<br>News, Tips & Shiz!

			.blogs
				.row
					.col-md-4
						.blog__item
							img.blog__item_image(src="./assets/img/blog_post_1.jpg" alt="blog_1")
							.blog__item_footer Lorem ipsum dolor sit amet, conlecer
							.blog__item_desc
								h4.blog__item_desc-h4 Nulla erat tortor, rhoncus a dolor
								p.blog__item_desc-text.
									Morbi semper viverra nibh vel finibus n hac habitasse platea dictumst. Donec eleifend eros id facilisis eras auctor, pellentesque et massa vel odio congue...
								a.blog__item_desc-button(href="#") read post
								.blog__item_desc-footer
									ul.blog__item_desc-footer__list
										li.blog__item_desc-footer__list_item.blog__item_date 27 july
										li.blog__item_desc-footer__list_item.blog__item_author by Steve Ipsum
										li.blog__item_desc-footer__list_item.blog__item_comments 125 comments

					.col-md-4
						.blog__item
							img.blog__item_image(src="./assets/img/blog_post_2.jpg" alt="blog_1")
							.blog__item_footer Lorem ipsum dolor sit amet, conlecer 
							.blog__item_desc
								h4.blog__item_desc-h4 Nulla erat tortor, rhoncus a dolor
								p.blog__item_desc-text.
									Morbi semper viverra nibh vel finibus n hac habitasse platea dictumst. Donec eleifend eros id facilisis eras auctor, pellentesque et massa vel odio congue...
								a.blog__item_desc-button(href="#") read post
								.blog__item_desc-footer
									ul.blog__item_desc-footer__list
										li.blog__item_desc-footer__list_item.blog__item_date 27 july
										li.blog__item_desc-footer__list_item.blog__item_author by Steve Ipsum
										li.blog__item_desc-footer__list_item.blog__item_comments 125 comments

					.col-md-4
						.blog__item
							img.blog__item_image(src="./assets/img/blog_post_3.jpg" alt="blog_1")
							.blog__item_footer Lorem ipsum dolor sit amet, conlecer
							.blog__item_desc
								h4.blog__item_desc-h4 Nulla erat tortor, rhoncus a dolor
								p.blog__item_desc-text.
									Morbi semper viverra nibh vel finibus n hac habitasse platea dictumst. Donec eleifend eros id facilisis eras auctor, pellentesque et massa vel odio congue...
								a.blog__item_desc-button(href="#") read post
								.blog__item_desc-footer
									ul.blog__item_desc-footer__list
										li.blog__item_desc-footer__list_item.blog__item_date 27 july
										li.blog__item_desc-footer__list_item.blog__item_author by Steve Ipsum
										li.blog__item_desc-footer__list_item.blog__item_comments 125 comments

