// contact section

section.contact
	.container
		.row
			.col-md-6
				h2.contact__h2 Contact Us<br>Drop in or holla!
				p.contact__text.
					Malesuada penatibus felis aptent neque fringilla duis erast ridiculus, tristique massa. Elit hendrerit porttitor lorem dis rhoncus vulputate sociosqu gravida suscipit nisl volutpat.
				p.contact__addr 21-26 Dolomite Street, City Centre, Plymouth, Devon. <a href="#">(See Google map)</a>
				p.contact__opentime Monday to Friday 11am - 6pm.  Saturdays 9am - 9pm
				p.contact__tel Tel: 0800 000 000
				p.contact__email holla@tattoostudio.com

			.col-ma-6
				img.contact__image(src="" alt="contacts")

			
