// contact section

section.contact
	.container
		.row
			.col-md-6
				.contact-desc
					h2.contact-desc__h2 Contact Us<br>Drop in or holla!
					p.contact-desc__text.
						Malesuada penatibus felis aptent neque fringilla duis erast ridiculus, tristique massa. Elit hendrerit porttitor lorem dis rhoncus vulputate sociosqu gravida suscipit nisl volutpat.
					p.contact-desc__addr.fa.fa-map-marker 21-26 Dolomite Street, City Centre, Plymouth, Devon. <a href="#">(See Google map)</a>
					p.contact-desc__opentime.fa.fa-clock-o Monday to Friday 11am - 6pm.  Saturdays 9am - 9pm
					p.contact-desc__tel Tel: 0800 000 000
					p.contact-desc__email holla@tattoostudio.com

			.col-md-6
				.contact-image
					.contact-image__item

			
