// footer section

footer.footer
	.footer-wrapper

		.container.rotate-back
			.row
				.col-md-2
					.footer__logo
						a.footer__logo_link Tatoo Studio
				.col-md-8
					.footer__copyright
						small.footer__copyright_text &copy; 2015 Tattoo Studio (registered in England: 8000000). All Rights Reserved.
						br
						span.footer__copyright_design Designed by <a href="#"> RobbyDesigns.com</a>
						span.footer__copyright_devel  Development by <a href="#">LoremIpsum.com</a>
				.col-md-2
					.footer-social-wrap
						.footer-social
							a.footer-social__item.fa.fa-facebook(href='#', target='_blank')