// gallerry section

section.gallery

	.container

		h2.gallery__h2 Gallery <br>Our latest tattoos
		p.gallery__text.
			Volutpat tempor lectus netus etiam est curabitur erat - aliquam non fermentum mi dis habitasse nullam. Tempor lectus sapien cursus magna, mattis elementum magnis adipiscing. Purus felis molestie rutrum auctor lacus euismod ad adipiscing tempus. Vestibulum mattis molestie himenaeos blandit. A aenean luctus nec laoreet hendrerit. Lobortis pharetra duis netus eras mauris mattis placerat nam magnis euismod metus quisque. Varius suspendisse pulvinar inceptos ante sapien ornare conubia sit, nam suscipit quisqu.

		.gallery__list
			+gallery-item(1)
			+gallery-item(2)
			+gallery-item(3)
			+gallery-item(4)
			+gallery-item(5)
			+gallery-item(6)
			+gallery-item(7)
			+gallery-item(8)






