// header section

header.header
	.container
		.row
			.header-top
				.col-md-3.np
					span.tel Tel: 0800 000 000
				.col-md-6.np
					.logo
						a.logo-link(href='#') Tattoo<br>Studio
				.col-md-3.np
					.header-social-wrap
						.header-social
							a.header-social__item.fa.fa-facebook(href='#', target='_blank')

			include nav

