// intro section

section.intro
	.dark-wrapper

		.container
			.row
				.col-md-6
					.intro__desc
						h3.intro__desc_h3 Welcome
						h4.intro__desc_h4 to tatoo studio!
						p.intro__desc_text.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum proin ligula tempor eras sodales parturient; laoreet curae ridiculus consequat lectus mollis lacinia montes. Aenean commodo nostra elit imperdiet convallis pulvinar: parturient taciti dui posuere consectun. Class dignissim sed conubia ornare curae magna ipsum cum nullam ultrices curabitur eras litora quis Velit tincidunt metus elit purus - lacus fermentum et inline link hendrerit lorem rutrum lorem vitae. Quis interdum <a class="intro__desc_text-link" href="#">inline link hover</a> est porta lobortis quisque ad mi purus libero tristique lorem sapien etiam porta.

				.col-md-6
					.intro__desc
						h3.intro__desc_h3 We’re open
						h4.intro__desc_h4 in dolomite street
						img.intro__desc_image(src="" alt="we're open")
						p.intro__desc_text.
							Malesuada penatibus felis aptent neque fringilla duis erast ridiculus, tristique massa. Elit hendrerit porttitor lorem dis rhoncus vulputate sociosqu gravida suscipit nisl volutpat.
						span.intro__desc_addr 21-26 Dolomite Street, City Centre, Plymouth, Devon
	 
						span.intro__desc_opentime Monday to Friday 11am - 6pm.  Saturdays 9am - 9pm