//testimonials section

section.testimonials
	.dark-wrapper

		.container

			h2.testimon__h2 Testimonials <br> Never regret a Tattoo!
			blockquote.testimon-block
				p.testimon-block__text.
					Lalesuada penatibus felis aptent neque fringilla duis erast ridiculus, tristique massa. Elit hendrerit porttitor lorem dis rhoncus.
				cite.testimon-block__cite Lorraine Ipsum, Plymouth
			a.button.testimon__button(href="#") Book an Appointment 

