//testimonials section

section.testimonials

	.container.rotate-back

		h2.testimonials__h2 Testimonials <br> Never regret a Tattoo!
		blockquote.testimonials-block
			p.testimonials-block__text.
				"Lalesuada penatibus felis aptent neque fringilla duis erast ridiculus, tristique massa. Elit hendrerit porttitor lorem dis rhoncus."
			cite.testimonials-block__cite Lorraine Ipsum, Plymouth
		a.button.testimonials__button(href="#") Book an Appointment 

