extends ../_template

block variables
	- var title = 'Tatoo studio'

block content
 
	include ../common/header
	include ../common/carousel
	include ../common/intro
	include ../common/artists
	include ../common/testimonials
	include ../common/gallery
	include ../common/blog
	include ../common/contact
	include ../common/footer
