// local fonts

@mixin font-face($font-family, $file-path) {
  
	// CONVERTOR: http://everythingfonts.com/font-face
  	@font-face {
		font-family: $font-family;
		src: url('../fonts/' + $file-path + '/' + $file-path + '.eot');
		src: url('../fonts/' + $file-path + '/' + $file-path + '.eot') format('embedded-opentype'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.woff2') format('woff2'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.woff') format('woff'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.ttf') format('truetype'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.svg#TTDrugsThin') format('svg');      
		   
		font-weight: normal;
		font-style: normal;
	}
}